<div>
    <table>
        <tbody>
            <% for (const date of it.dates) { %>

                <tr 
                    <% if (date.hasSame(it.today, "day") ) { %>
                        class="today"
                    <% } %>

                    data-timestamp="<%= date.toISODate() %>">
                    <td><p><%~ date.toFormat('LLL d') %></p></td>
                    <td><p><%~ date.toFormat('ccc')   %></p></td>
                    <td class="meal-plan-recipe-list"><div class="meal-plan-recipe-list">
                        <% it.log.get(date.toISODate()).forEach(function(_){ %>

                        
<div class="multi-select-pill internal-link" data-name="<%= _ %>">
    <div class="multi-select-pill-content"><%= _ %></div>
    <div class="multi-select-pill-remove-button">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24" height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="svg-icon lucide-x">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
        </svg>
    </div>
</div>
                        <% }) %>
                        </div></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
