<table>
	
	<tbody>
		<tr>
			<td rowspan='4'>Jun 12</td>
			<td>Breakfast</td>
			<td></td>
		</tr>
		<tr>
			<td>Lunch</td>
			<td></td>
		</tr>
		<tr>
			<td>Dinner</td>
			<td></td>
		</tr>
		<tr>
			<td>Other</td>
			<td></td>
		</tr>
	</tbody>


	<tbody>
		<tr>
			<td rowspan='4'>Jun 13</td>
			<td>Breakfast</td>
			<td></td>
		</tr>
		<tr>
			<td>Lunch</td>
			<td></td>
		</tr>
		<tr>
			<td>Dinner</td>
			<td></td>
		</tr>
		<tr>
			<td>Other</td>
			<td></td>
		</tr>
	</tbody>


	<tbody>
		<tr>
			<td rowspan='1'>Jun 14</td>
			<td colspan='2'>...</td>
		</tr>
	</tbody>


	<tbody>
		<tr>
			<td rowspan='4'>Jun 15</td>
			<td>Breakfast</td>
			<td></td>
		</tr>
		<tr>
			<td>Lunch</td>
			<td></td>
		</tr>
		<tr>
			<td>Dinner</td>
			<td></td>
		</tr>
		<tr>
			<td>Other</td>
			<td></td>
		</tr>
	</tbody>


	<tbody>
		<tr>
			<td rowspan='4'>Jun 16</td>
			<td>Breakfast</td>
			<td></td>
		</tr>
		<tr>
			<td>Lunch</td>
			<td></td>
		</tr>
		<tr>
			<td>Dinner</td>
			<td></td>
		</tr>
		<tr>
			<td>Other</td>
			<td></td>
		</tr>
	</tbody>
</table>
