/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

@import "MiseEnPlace";
@import "Index";
@import "MealPlan";

div.meal-plan-recipe-list {
	display: flex;
	padding-right: 20px;
}

td.meal-plan-recipe-list {
	cursor: text;
}




.markdown-rendered tbody tr.today,
.markdown-rendered tbody tr.today > td {
	// border-top: solid var(--interactive-accent);
}
